<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="$(var.fcardLauncher.TargetName)" Language="1041" Version="0.9.9.0" Manufacturer="YTProducts" 
           UpgradeCode="c2a49eb8-ff6d-41ca-ba4a-f42e41da6a84">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="../LICENSE.rtf" />

    <InstallExecuteSequence>
      <ScheduleReboot After='InstallFinalize' />
    </InstallExecuteSequence>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.fcardLauncher.TargetName)" />
			</Directory>
    </Directory>

		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponentExe" KeyPath="yes" Guid="DEC489B8-6231-4234-BBFC-BCBBFDF0A368">
        <File Source="$(var.fcardLauncher.TargetPath)" />
      </Component>

      <Component Id="ProductSettingRegistry" KeyPath="yes" Guid="8C76C8CF-8914-4370-8D23-2B5C07FC0900">
        <RegistryKey Id='RegSetting'
          Root="HKLM" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
          Key="Software\$(var.fcardLauncher.TargetName)\0000" >
          <RegistryValue
            Name="path"
            Value="[SystemFolder]mstsc.exe"
            Type="string" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
